* {
  font-size: 13.5px;
  font-family: 'DM Sans', 'JetBrainsMono Nerd Font Propo', sans-serif;
  font-weight: 600;
  padding: 0;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
}

#network,
#pulseaudio,
#battery,
#tray,
#clock,
#custom-spotify {
    background-color: rgba(50, 50, 50, 0.2);
    margin: 0px 2.5px;
    border-radius: 12.5px;
    padding: 0 7.5px 0 7.5px;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery {
}

#battery.warning:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#battery.critical:not(.charging) {
    color: white;
    animation-name: blink;
    animation-duration: 0.6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-time {
  margin-left: 25px;
  font-weight: 600;
}

#workspaces button {
  transition: all 0.2s ease-in-out;
  border-radius: 100px;
  padding: 0 2.5px 0 2.5px;
  margin: 0 2.5px 0 2.5px;
  color: #fff;
}

#workspaces button.active {
  background-color: #e8eaed;
  color: #121212;
  padding: 0px 15px 0px 15px;
  font-weight: 800;
}

#workspaces button:hover {
    all: unset;
    transition: all 0.2s ease-in-out;
    border-radius: 100px;
    padding: 0px 9px 0 9px;
    margin: 0 2.5px 0 2.5px;

    background-color: #e8eaed;
    color: #121212;
}

#custom-launcher {
    transition: all 0.2s ease-in-out;
    background-color: rgba(50, 50, 50, 0.2);
    border-width: 1px 1px 1px 1px;
    border-color: #fff;
    border-radius: 100px;
    color: #fff;
    margin: 0 10px;
    padding: 0 20px 0 20px;
}

#custom-launcher:hover {
    background-color: #fff;
    color: #121212;
}

#custom-media {
  font-weight: 700;
}

#custom-spotify {
    color: rgb(102, 220, 105);
}
